.ChatHeader {
  background-color: #f3f3f3;
  border-bottom: 1px solid #ccc;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.ChatHeader .roomInfo h2 {
  font-size: 1.1rem;
  margin: 0;
}

.ChatHeader .roomInfo p {
  color: #999;
  margin: 0;
  font-size: 0.8rem;
}
