.MessageForm {
  background-color: white;
  height: 3rem;
  display: flex;
  align-items: stretch;
  border: 2px solid #999;
  border-radius: 0.5rem;
  margin: 0.25rem;
  padding: 0;
}

.MessageForm .chatIcon {
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  background-color: white;
  color: #ccc;
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

.MessageForm input {
  flex: 1;
  font-size: 1.2rem;
  border: 0;
}
.MessageForm input:focus {
  outline: 0;
}

.MessageForm button {
  font-size: 1.5rem;
  background-color: #1A8FE3;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid white;
}
