.Sidebar {
  background-color: #333344;
  color: rgba(255, 255, 255, 0.8);
  width: 12rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.Sidebar > * {
  padding: 0 1rem;
}

.Sidebar h1 {
  color: white;
  font-size: 1.2rem;
  margin-top: 0;
}
